@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*,
*:before,
*:after {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-theme-color: blueviolet;
  --glass: rgba(255, 255, 255, 0.05);
  --green: rgb(4, 255, 100);
  --black: #111;
  --white: #fff;
  --dark-black: #000;
  --glassborder: rgba(255, 255, 255, 0.08);
  --glassshadow: rgba(0, 0, 0, 0.07);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  height: 150vh;
}

/* Header section start */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  background: var(--dark-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid var(--glassborder);
  transition: 0.6s;
}

#header.sticky {
  padding: 20px 100px;
  background: var(--main-theme-color);
}

#header #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header #logo a {
  color: var(--white);
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  display: inline-block;
  font-family: 'Kaushan Script', cursive;
}

#header.sticky #logo a {
  color: var(--white);
  font-family: 'Kaushan Script', cursive;
}

#header #navbar {
  display: flex;
  list-style: none;
}

#header #navbar li {
  position: relative;
  margin-left: 40px;
  padding-bottom: 4px;
}

#header #navbar li:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(
    90deg,
    transparent,
    var(--main-theme-color),
    var(--main-theme-color),
    transparent
  );
  transition: width 0.6s ease-in-out;
}

#header #navbar li:hover::before {
  width: 100%;
}

#header #navbar li a {
  display: inline-block;
  color: var(--white);
}

#header.sticky #navbar li a {
  color: var(--white);
}
/* Header section end */

/* Banner section start */
#banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#banner .bannerText {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  background: var(--dark-black);
}

#banner .bannerText h1 {
  color: var(--white);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 7px;
}

#banner .bannerText h4 {
  color: var(--green);
  margin-bottom: 7px;
}

#banner .bannerText p {
  color: var(--white);
  opacity: 0.6;
  font-size: 15px;
  line-height: 25px;
}

#banner .video {
  height: 100%;
  width: 50%;
  position: relative;
}

#banner .video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Banner section end */

/* Custom Widget Design Start*/
#widget {
  min-height: 200px;
  width: auto;
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#widget .attachments {
  position: relative;
}

#widget .attachments li {
  list-style-type: none;
  background: var(--glass);
  border-left: 1px solid var(--glassborder);
  border-bottom: 1px solid var(--glassborder);
  box-shadow: 0 0 5px var(--glassshadow);
  height: 30px;
  width: 30px;
  margin: 5px;
}

#widget2 {
  position: fixed;
  left: -174px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(270deg);
}

#widget2 a {
  color: var(--white);
  background: var(--main-theme-color);
  margin: 5px;
  padding: 4px;
}

/* Custom Widget Design End*/

/* Custom Scroll bar Design Start*/
::-webkit-scrollbar {
  appearance: none;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--main-theme-color), transparent);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black);
  border-left: 1px solid var(--glassborder);
}
/* Custom Scroll bar Design End*/

/* About section start */
#about {
  padding: 100px;
  border-bottom: 1px solid var(--glass);
}

.title {
  position: relative;
  color: var(--white);
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.title span {
  color: var(--main-theme-color);
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 1px;
}

.title:before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 100px;
  background: linear-gradient(
    to left,
    transparent,
    var(--main-theme-color),
    transparent
  );
}

#about .row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

#about .row .col50 {
  height: 100%;
  width: 50%;
}

#about .row .col50 .imgBox {
  position: relative;
  background: url(images/About.jpg) no-repeat center;
  height: 100%;
  width: 100%;
  background-size: cover;
}

#about .row .col50 .imgBox .info {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 3vw;
  background: rgba(0, 0, 0, 0.5);
  color: transparent;
  -webkit-text-stroke: 1px var(--main-theme-color);
  opacity: 0;
  transition: opacity 0.6s ease;
}

#about .row .col50 .imgBox:hover .info {
  opacity: 1;
}

#about .row .col50 .contents {
  color: var(--white);
  padding-left: 20px;
}

#about .row .col50 .contents h2 {
  color: var(--main-theme-color);
}

#about .row .col50 .contents h2 span {
  color: var(--white);
  font-family: 'Kaushan Script', cursive;
}

#about .row .col50 .contents p {
  color: var(--white);
  opacity: 0.6;
  line-height: 24px;
  text-align: justify;
}
/* About section end */

.btns {
  height: 35px;
  width: 120px;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
  border: none;
  color: var(--white);
  background: linear-gradient(
    to left,
    transparent,
    var(--main-theme-color),
    transparent
  );
  cursor: pointer;
  transition: 0.5s linear;
}

.btns:hover {
  background: var(--main-theme-color);
}

/* Tour section start */
#tour {
  padding: 100px;
  border-bottom: 1px solid var(--glass);
}

#tour .container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

#tour .container .card {
  min-height: 450px;
  width: auto;
  background: var(--glass);
  backdrop-filter: blur(25px);
  border-left: 1px solid var(--glassborder);
  border-bottom: 1px solid var(--glassborder);
  box-shadow: 0 0 25px var(--glassshadow);
  transition: 0.6s linear;
}

#tour .container .card .img {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#tour .container .card .img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

#tour .container .card:hover img {
  cursor: pointer;
  transform: scale(1.2);
}

#tour .container .card .info {
  padding: 15px;
}

#tour .container .card .info h2 {
  color: var(--white);
  margin-bottom: 7px;
}

#tour .container .card .info p {
  color: var(--white);
  opacity: 0.7;
  font-size: 15px;
  line-height: 24px;
}

#tour .container .card .btns {
  margin-top: 8px;
}
/* Tour section end */

/* Pricing section start */
#pricing {
  padding: 100px;
  border-bottom: 1px solid var(--glass);
}

#pricing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pricing .container .card {
  position: relative;
  background: var(--glass);
  backdrop-filter: blur(30px);
  border-left: 1px solid var(--glassborder);
  border-bottom: 1px solid var(--glassborder);
  padding: 25px;
  height: 300px;
  width: 250px;
  box-shadow: 0 0 25px var(--glassshadow);
  transition: 0.6s linear;
  overflow: hidden;
  cursor: pointer;
}

#pricing .container .card:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: var(--main-theme-color);
  z-index: -1;
  transition: height 0.6s;
}

#pricing .container .card:hover::before {
  height: 100%;
}

#pricing .container .card:hover {
  transform: translateY(-15px);
}

#pricing .container .card:hover > h2 span {
  color: var(--white);
  transition: 0.6s;
  transition-delay: 0.6s;
}

#pricing .container .card h2 {
  position: relative;
  color: var(--white);
  text-align: center;
  font-size: 3vw;
  text-shadow: 1px 1px 2px var(--glassshadow);
}

#pricing .container .card h2 span {
  color: var(--main-theme-color);
  text-shadow: 1px 1px 2px var(--glassshadow);
  font-size: 3vw;
}

#pricing .container .card h4 {
  color: var(--green);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

#pricing .container .card ul {
  position: relative;
}

#pricing .container .card ul li {
  list-style: none;
}

#pricing .container .card ul li p {
  color: var(--white);
  line-height: 30px;
}
/* Pricing section end */

/* Blog section start */
#blog {
  padding: 100px;
  border-bottom: 1px solid var(--glass);
}

#blog .container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

#blog .container .card {
  min-height: 250px;
  width: auto;
  display: flex;
  padding: 25px;
  background: var(--glass);
  backdrop-filter: blur(20px);
  border-left: 1px solid var(--glassborder);
  border-bottom: 1px solid var(--glassborder);
  box-shadow: 0 0 20px var(--glassshadow);
}

#blog .container .card .imgbx {
  position: relative;
  height: 100%;
  width: 35%;
}

#blog .container .card .imgbx img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#blog .container .card .content {
  width: 65%;
  padding-left: 20px;
}

#blog .container .card .content h2 {
  font-size: 20px;
  margin-bottom: 7px;
}

#blog .container .card .content h2 a {
  text-decoration: none;
  color: var(--main-theme-color);
  cursor: pointer;
}

#blog .container .card .content p {
  line-height: 24px;
  color: var(--white);
}

#blog .container .card .content .stamps {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog .container .card .content .stamps p {
  opacity: 0.5;
}

#blog .container .card .content .author {
  font-weight: bold;
  text-align: right;
}
/* Blog section end */

/* Contact section start */
#contact {
  padding: 100px;
}

#contact .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .container .formsection {
  width: 50%;
  padding: 0 20px 0 0;
}

#contact .container .formsection .inputBx {
  margin: 20px 0;
  width: 100%;
}

#contact .container .formsection .inputBx p {
  color: var(--white);
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

#contact .container .formsection .inputBx input {
  display: flex;
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-bottom: 1px solid var(--glassborder);
  border-left: 1px solid var(--glassborder);
  outline: none;
  background: var(--glass);
  color: var(--white);
}

#contact .container .formsection .inputBx textarea {
  height: 100px;
  width: 100%;
  padding: 7px 13px;
  border: none;
  border-bottom: 1px solid var(--glassborder);
  border-left: 1px solid var(--glassborder);
  outline: none;
  background: var(--glass);
  color: var(--white);
  resize: none;
}

#contact .container .googlemap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--glassborder);
  overflow: hidden;
}
/* Contact section end */

/* Footer section start */
#footer {
  padding: 50px 100px 50px 100px;
  border-bottom: 1px solid var(--glass);
  background: var(--dark-black);
}

#footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

#footer .container .col1 {
  padding-left: 10px;
  border-right: 1px solid var(--glassborder);
}

#footer .container .logo {
  color: var(--main-theme-color);
  display: flex;
  align-items: center;
}

#footer .container .logo span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 4px;
  background: var(--white);
}

#footer .container .col1 p {
  color: var(--white);
  opacity: 0.7;
  line-height: 30px;
}

#footer .container .col1 .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#footer .container .col1 .social li {
  list-style: none;
}

#footer .container .col1 .social li a {
  text-decoration: none;
}

#footer .container .col2 {
  border-right: 1px solid var(--glassborder);
  padding-left: 20px;
}

#footer .container .col2 li {
  margin-bottom: 5px;
}

#footer .container .col2 li a {
  color: #fefefe;
  opacity: 0.7;
  transition: 0.5s ease;
}

#footer .container .col2 li a:hover {
  color: var(--main-theme-color);
}

#footer .container .col3{
  padding-left: 20px;
}

#footer .container .col3 ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#footer .container .col3 ul li{
  margin: 4px 5px;
  padding: 7px 10px;
  background: var(--main-theme-color);
  border-radius: 4px;
  color: var(--white);
  transition: .6s linear;
}

#footer .container .col3 ul li a{
  text-decoration: none;
  color: var(--white);
}

#footer .container .col4 {
  padding-left: 20px;
}

#footer .container .col4 h3 {
  color: var(--main-theme-color);
  margin-bottom: 15px;
}

#footer .container .col4 .input-group {
  display: flex;
  height: 30px;
  width: 260px;
}

#footer .container .col4 input[type="email"] {
  border: none;
  outline: none;
  padding-left: 7px;
  background: var(--glass);
  color: var(--white);
  border-bottom: 1px solid var(--glassborder);
  border-left: 1px solid var(--glassborder);
}

#footer .container .col4 input[type="submit"] {
  border: none;
  outline: none;
  height: 100%;
  padding: 7px;
  background: var(--main-theme-color);
  color: var(--white);
  transform-origin: left;
  transition: background 0.6s ease-in-out;
}

#footer .container .col4 input[type="submit"]:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* Footer section end */

/* Copyright section start */
#copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: var(--main-theme-color);
}

#copyright-section > .statement {
  color: var(--white);
}
/* Copyright section end */

/* Go on top button design start */
#trigger-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  background: var(--main-theme-color);
  cursor: pointer;
  z-index: 50;
}

#trigger-button a {
  color: var(--white);
}

/* Responsiveness Coding Start */

@media screen and (max-width: 991px) {
  #header {
    padding: 20px 50px;
  }

  #header.sticky {
    padding: 15px 50px;
    background: blueviolet;
  }

  #banner .bannerText {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding: 15px 50px;
  }

  #header.sticky {
    padding: 10px 50px;
    background: blueviolet;
  }

  #header #navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: blueviolet;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  #header #navbar li {
    margin: 20px 0;
  }

  #header #navbar li a {
    color: #fff;
    font-size: 1.1rem;
  }

  #navbar-toggler {
    position: fixed;
    top: 6px;
    right: 50px;
    height: 40px;
    width: 40px;
    place-items: center;
    z-index: 1001;
    background: url(images/Hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    filter: invert(1);
    cursor: pointer;
  }

  #navbar-toggler.active {
    background: url(images/Close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    filter: invert(1);
    cursor: pointer;
  }

  #navbar-toggler.active + #header #navbar {
    display: flex;
  }

  #banner {
    padding: 0;
    flex-direction: column-reverse;
    width: 100%;
  }

  #banner .bannerText {
    width: 100%;
  }

  #banner .video {
    width: 100%;
  }
}
